header{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.container_header{
    display: flex;
    padding: 15px 45px;
    justify-content: space-between;

}

.container_header--logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.container_header--logo h1{
    font-weight: bold;
    font-size: 25px;
}

.container_header--logo img{
    width: 75px;
    height: 75px;
}

.container_header--social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;

}

.container_header--social img{
    width: 35px;
    height: 35px;
}

/*Final do Header */

.hero_banner{
    padding: 10px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_banner img {
    width: 65%;
}

/* Final do banner */

.personas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container_images{
    padding: 35px 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 8px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_images .container_images--header{
    text-align: center;
    padding: 30px;
}

.container_images--header h3{
    font-size: 25px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
}

.container_images--header span{
    font-size: 16px;
    color: #666666;
    margin-bottom: 15px;
}

.container_images button{
    border: none;
    padding: 15px;
    width: 180px;
    border-radius: 4px;
    background-color: #0098B6;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 0px;

}

#seeFewerSpeakers{
    display: none;
}

#container_images--02{
    display: none;
}
#container_images--03{
    display: none;
}

/* Final do container participantes */

.about_us{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.container_about--text{
    padding: 35px 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_about--text p{
    margin: 25px 0px;
    max-width: 65%;
}

.container_about--text h3{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333333;
}

.container_about--text p {
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.mark-green{
    background-color: #00FF00;
}

.mark-yellow{
    background-color: #FFFF00;
}

/* final do container sobre o envento*/


.historical{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_historical{
    padding: 45px 0px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_historical h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.container_historical span{
    font-size: 16px;
    
}

.historical-date{
    display: flex;
    justify-content: space-around;
    margin: 25px 0px 20px 0px;
    width: 70%;
}

.historical-date div{
    width: 100%;
    padding: 15px;
    margin: 0px 2px;
    text-align: center;
    border-bottom: 1px solid black;
    color: #0098B6;
    cursor: pointer;
}

.active{
    border-radius: 4px 4px 0px 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none!important;
    color: #333333!important;
}

.historical-activities{
    width: 70%;
    height: auto;
    margin: 15px 0px;
}

.activities{
    width: 100%;
}

/*teste de display none*/
#activities-seg{
    display: block;
}
#activities-ter{
    display: none;
}
#activities-qua{
    display: none;
}
#activities-qui{
    display: none;
}


/* termina o teste*/

.activities div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 4px;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.50s ease-in-out;
}

.activities div:hover{
    border: 1px solid #0098B6;
}

/* termino das atividades*/

.interviews{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0px;
}

.container_interviews{
    margin: 45px 0px;
    width: 70%;
}

.container_interviews h3{
    text-align: center;
    margin-bottom: 45px;
    font-size: 26px;
    font-weight: bold;
}

.interviews-player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.interviews-player iframe{
    margin: 15px;
}

#players-lock01{
    display: none;
}
#players-lock02{
    display: none;
}
#players-lock03{
    display: none;
}
#players-lock04{
    display: none;
}
#players-lock05{
    display: none;
}
/* termino dos players de video*/

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
}

.container_photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.container_photos h3{
    font-size: 26px;
    font-weight: bold;
}

.photos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 45px 0px;
}

.photos img{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 430px;
    height: 400px;
    margin: 5px;
}

/* final do container de fotos*/

.localization{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0px;
}

.container_maps{
    border-radius: 8px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.container_maps iframe{
    border-radius: 8px;
    width: 100%;
    height: 500px;
}

/*Final do container maps*/

footer{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 250px;
}
footer a{
    text-decoration: none;
    font-size: 26px;
    color: #0098B6;
}

footer span{
    font-size: 22px;
}

.contact-name{
    font-size: 26px;
}